@{ 
    if(User.HasClaim("Role", "CityAdministrator"))
        ViewBag.ListUrl = "~/City/CityApplications";
}

<div class="box">
    <div class="row justify-content-center">
        <a href="@ViewBag.ListUrl" type="button" class="btn btn-outline-secondary"><img src="~/images/list.png" width="20" /> Lista</a>
        <a href="~/Application/ApplicationsMap" type="button" class="btn btn-outline-secondary"><img src="~/images/map.png" width="20" /> Mapa</a>
    </div>
    <div id="googleMap"></div>
</div>

@section scripts{
    <script>
        function initMap() {
            // The location of Uluru
            var uluru = { lat: -25.344, lng: 131.036 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('googleMap'), { zoom: 4, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7Qw325kHLvatZTnfpP9M6lGsU5l8qLFI&callback=initMap">
    </script>

}
