@*
    city/ApplicationDetils
*@

<div class="row">
    <div class="col-md-4">
        <div class="box">
            dsadasda
        </div>
    </div>
    <div class="col-md-8">
        <div class="box">
            @await Component.InvokeAsync("ApplicationDetails", @ViewBag.ApplicationId)
        </div>
    </div>
    </div>

@section styles{
<style>
   
</style>

 }