
@{
    ViewData["Title"] = "CityApplications";
}
<div class="box">
    <div class="row justify-content-center">
        <button onclick="showList()" type="button" class="btn btn-outline-secondary"><img src="~/images/list.png" width="20" /> Lista</button>
        <button onclick="showMap()" type="button" class="btn btn-outline-secondary"><img src="~/images/map.png" width="20" /> Mapa</button>
    </div>

    <div class="dataTable-custom" id="list">
        <table id="applicationTable" class="display table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Kategoria</th>
                    <th>Ulica</th>
                    <th>Zdjęcie</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="appMap" style="display: none;" id="googleMap"></div>

</div>


@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/datatables.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts{

    <script>
        var list = document.getElementById("list");
        var googleMap = document.getElementById("googleMap");
        function showList() {
            list.style.display = "block";
            googleMap.style.display = "none";
        }
        function showMap() {
            list.style.display = "none";
            googleMap.style.display = "block";
        }


           var cityId =@User.Claims.FirstOrDefault(x => x.Type == "CityId").Value;
           var url="GetAllByCity/" + cityId
    </script>
    <script src="~/js/getMapTableData.js" asp-append-version="true"></script>
    <script src="~/js/applicationTableContent.js" asp-append-version="true"></script>
    <script src="~/js/map.js" asp-append-version="true"></script>  
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7Qw325kHLvatZTnfpP9M6lGsU5l8qLFI&callback=initMap">
    </script>

}

