/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(../images/houndstooth-pattern.png); /* Background pattern from Toptal Subtle Patterns */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.box {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.container{
    max-width: 1340px;
}

/*map styles*/
.appMap {
    height: 800px;
    width: 100%;
    min-height: 250px;
}
.addAppMap {
    height: 320px; 
    width: 100%;
    min-height: 250px;
}
.detailAppMap {
    height: 211px;
    width: 100%;
    min-height: 211px;
}
.textField {
    word-wrap:break-word;
}

.verticalLine {
    border-left: 1px solid #d9d9d9;
}

/*SNACKBAR config*/

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 350px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #8BFEB0;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%; /* Center the snackbar */
    top: 130px; /* 30px from the top */
}


#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.0s;
    animation: fadein 0.5s, fadeout 0.5s 3.0s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 120px;
        opacity: 0;
    }

    to {
        top: 130px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 120px;
        opacity: 0;
    }

    to {
        top: 130px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 130px;
        opacity: 1;
    }

    to {
        top: 120px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 130px;
        opacity: 1;
    }

    to {
        top: 120px;
        opacity: 0;
    }
}



.page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
}


.mylist li {
    border-bottom: 1px solid #d9d9d9;
}