<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v4.0&appId=541925099164239&autoLogAppEvents=1"></script>
<form>
    <div class="row justify-content-md-center">
        <div class="col-md-6 ">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Type password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <label>Confirm your password</label>
                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label>Enter your city</label>
                <input type="text" class="form-control" id="City" placeholder="City">
            </div>


            <div class="row justify-content-between">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col ">
                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                </div>
            </div>
        </div> 
        
    </div>
</form>